@model Departrment
<form method="post" asp-action="Add" asp-controller="Department">
    @if (Model != null)
    {
        <div asp-validation-summary="All" class="text-danger"></div>
    }
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div><input type="submit" class="btn btn-primary" value="Create" /></div>
</form>
@section scriptat {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
