@model RegisterTraineViewModel
@{
    SelectList deptList = new SelectList(ViewBag.department, "Id", "Name");
}
<form asp-action="RegisterTraine" asp-controller="TraineAccount" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Level"></label>
        <select asp-for="Level">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Level"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="deptList"></select>
        <span asp-validation-for="DepartmentId"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="submit" value="registe" />
</form>
@section scriptat {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
