@model RegisterManagerViewModel
@{
    SelectList deptLlist = new SelectList(ViewBag.department, "Id", "Name");
}
<form asp-action="RegisterManager" asp-controller="ManagerAccount" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="EmailAddress"></label>
        <input asp-for="EmailAddress" />
        <span asp-validation-for="EmailAddress"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" />
        <span asp-validation-for="Salary"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" id="daptId" asp-items="deptLlist" onchange="GetCourse()" class="form-select" aria-label="Default select example">
            <option value="0">--select course--</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <input type="submit" value="registe" />
</form>
@section scriptat {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}