<div>
    <div><a asp-action="SearchById" asp-controller="CourseResult" class="btn btn-primary">Search On Result By Id</a></div>
    <div><a asp-action="SearchByCourseIdAndTraine" asp-controller="CourseResult" class="btn btn-primary">Find Results of Student And Course</a></div>
    <div><a asp-action="SearchByCourseId" asp-controller="CourseResult" class="btn btn-primary">Find Results of Course</a></div>    
    <div><a asp-action="Add" asp-controller="CourseResult" class="btn btn-primary">Add</a></div>
</div>
