<form asp-action="ShowCourseResultByCourseIdAndTraine" asp-controller="CourseResult">
    <div>
        <label>Enter course Id</label>
        <input name="CourseId" class="form-control" />
    </div>
    <div>
        <label>Enter Traine Id</label>
        <input name="TraineId" class="form-control" />
    </div>
    <input type="submit" value="search" />
</form>