<form asp-action="ShowResultForCourse" asp-controller="CourseResult">
    <div>
        <label>Enter course Id</label>
        <input name="CourseId" class="form-control" />
    </div>
    <input type="submit" value="search"/>
</form>