<form asp-action="ShowCourseResultById" asp-controller="CourseResult">
    <div>
        <label>Enter Result Id</label>
        <input name="Id" type="text" class="form-control" />
    </div>
    <input type="submit" value="search"/>
</form>