@model Traine
<form action="/trainee/SaveDelete/@Model.Id" method="Post">

    <h3>do you sure you wanna delete traine which name is @Model.Name</h3>
    <input type="submit" class="btn btn-primary" value="Delete" />
</form>